@media (max-width: 767px) {
  .navbar-nav {
    background-color: rgb(231, 240, 232);
    justify-content: center;
    padding-left: 10px;
    border: solid black 2px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  font-family: "Poppins", sans-serif;
}

.footer-titulos {
  color: white;
}

header {
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px 1px;
  margin: auto;
  background-color: #e7ecf1;
}

.navbar-brand {
  color: #3F853F;
}

.div-contenedor {
  height: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%231d4827' fill-opacity='0.41' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}
.div-contenedor-marcas {
  height: 50%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%231d4827' fill-opacity='0.41' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  min-height: 90vh;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

.seccion-index {
  color: white;
  margin-top: 5%;
}

.titulo-principal {
  padding-top: 20px;
}

.titulo-color {
  color: #3F853F;
}

.seccion-titulo {
  padding-top: 20px;
}
.seccion-titulo-estilo {
  color: white;
  text-align: center;
}

.producto {
  height: 400px;
  width: 250px;
  font-size: 1rem;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
}

.articulo-imagen {
  width: 210px;
  height: 210px;
  padding: 5px;
  margin-left: 20px;
}
.articulo-logo {
  width: 60px;
  height: 40px;
  padding-left: 10px;
}
.articulo-titulo {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 3px;
  text-align: left;
  padding-left: 6px;
}

.descripcion-articulo {
  padding: 3px 5px 10px 5px;
}

.btn-outline-dark {
  --bs-btn-hover-bg:#cac71430;
}

.icono-flechita {
  background-color: black;
  border-radius: 20%;
  border: solid black;
}

.producto-comprar {
  margin-left: 8rem;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}

.carousel {
  justify-content: center;
  width: 40vw;
  margin-left: 30%;
  margin-top: 5%;
}

.formulario {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

form {
  padding: 10px 5%;
}

hr {
  color: white;
  border: white solid 1px;
}

.titulo-marca {
  color: white;
  font-size: 3rem;
}
.titulo-marca-container {
  color: white;
}

.container-marcas {
  width: 50%;
}

.logo-marca {
  width: 80%;
  height: 70%;
}

.marcas-section-parrafo {
  padding-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
