.titulo-marca {
    color: white;
    font-size: 3rem;

    &-container {
        color: white;

    }
}
.container-marcas{
    width: 50%;
}


.logo-marca{
    width: 80%;
    height: 70%;
}

.marcas-section-parrafo{
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}
